<div class="w-100 d-flex flex-column justify-content-center align-items-center gap-5" style="height: 100dvh;">
    <h1 class="text-light">Moviet</h1>
    <form class="border p-4 rounded rounded-3 shadow-5 bg-light" style="width: 25rem;" (submit)="login($event)"
        [formGroup]="loginData">
        <!-- Email input -->
        <mdb-form-control>
            <input mdbInput type="email" id="form1Example1" class="form-control" formControlName="email" />
            <label mdbLabel class="form-label" for="form1Example1">Email address</label>
        </mdb-form-control>
        <div style="height: .5rem;">
            <span *ngIf="loginData.controls['email'].getError('required') && loginData.controls['email'].touched"
                class="text-danger ">insert a valid e-mail</span>
            <span *ngIf="loginData.controls['email'].getError('email') && loginData.controls['email'].touched"
                class="text-danger ">is not a valid e-mail</span>
        </div>
        <!-- Password input -->
        <mdb-form-control class="mt-4">
            <input mdbInput type="password" id="form1Example2" class="form-control" formControlName="password" />
            <label mdbLabel class="form-label" for="form1Example2">Password</label>
        </mdb-form-control>
        <div style="height: .5rem;">
            <span *ngIf="loginData.controls['password'].getError('required') && loginData.controls['password'].touched"
                class="text-danger">insert a valid password </span>
            <span *ngIf="loginData.controls['password'].getError('minlength') && loginData.controls['password'].touched"
                class="text-danger ">the password must be at least 6 characters</span>
            <span *ngIf="erroUserLogin text-danger">error with e-mail or password</span>
        </div>
        <!-- 2 column grid layout for inline styling -->
        <div class="row my-4">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                    <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                    <label class="form-check-label" for="form1Example3"> Remember me </label>
                </div>
            </div>
            <div class="col">
                <!-- Simple link -->
                <a href="#">Forgot password?</a>
            </div>
        </div>
        <!-- Submit button -->
        <button mdbRipple type="submit" class="btn btn-primary btn-block">Sign in</button>
    </form>
    <div class="background bg-primary rounded-4 shadow-5"></div>
</div>
<span> {{loginData.controls['password'].errors | json}} </span>