<section class=" row p-5 m-auto">
    <figure class="col-5 d-flex flex-column align-items-end gap-4">
        <img [src]="film?.primary_image" alt="image film" width="300">
        <figcaption style="width: 300px;">
            <div class="d-flex justify-content-center">
                <a href="#"><i class="fas fa-eye-slash" style="font-size: 30px; color: rgb(171, 172, 171)"></i></a>
                <a *ngIf="false" href="#"><i class="fas fa-eye" style="font-size: 30px;"></i></a>
            </div>
        </figcaption>
    </figure>
    <div class="col-5">
        <div class="d-flex flex-column">
            <h3 class="text-primary">{{film?.name}}</h3>
            <p style="text-align: justify;">{{film?.discription}}</p>
        </div>
        <div>
            <h5>Score</h5>
            <p><strong>3.4 / 5 </strong>⭐</p>
        </div>
    </div>
</section>